<!--/**-->
<!--* @author ishanka on 6/13/21 at 7:42 PM-->
<!--* @since 0.0.1-->
<!--*/-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assests/bootsrap/css/bootstrap.min.css">
    <style>
        #btnDashBoard {
            font-weight: 800;
            font-size: 35px;
            margin-left: 20px;
            margin-right: 200px;
        }

        #carManage, #rentRequests, #driverManage, #adminLoginLink {
            margin-left: 30px;
            font-size: 20px;
            font-weight: 600;
            cursor: pointer;
        }

    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <div class="container-fluid ">
        <a class="navbar-brand text-white" href="#" id="btnDashBoard">Easy Car Rental - Admin</a>
        <div class="collapse navbar-collapse mx-5" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" href="#carManageForm"
                       id="carManage">Car Manage</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#driverManageForm" id="driverManage">Driver Manage</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" href="#rentRequestsFrom" id="rentRequests">Rent
                        Requests</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" data-bs-toggle="modal"
                       data-bs-target="#LoginModal" id="adminLoginLink">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section class="container-fluid mt-2" id="dashboard">
    <div class="row justify-content-around mt-4">
        <div class="col-2 bg-warning text-white" style="width: 300px">
            <h1 class="p-3" style="font-size: 40px" id="regUsers">20</h1>
            <h1 class="p-2" style="font-size: 30px">Registered Users</h1>
        </div>
        <div class="col-2 bg-success text-white" style="width: 300px">
            <h1 class="p-3" style="font-size: 40px" id="availableCars">50</h1>
            <h1 class="p-2" style="font-size: 30px">Available Cars</h1>
        </div>
        <div class="col-2 bg-primary text-white" style="width: 300px">
            <h1 class="p-3" style="font-size: 40px" id="reservedCars">40</h1>
            <h1 class="p-2" style="font-size: 30px">Reserved Cars</h1>
        </div>
        <div class="col-2 bg-danger text-white" style="width: 300px">
            <h1 class="p-3" style="font-size: 40px" id="todayBooking">05</h1>
            <h1 class="p-2" style="font-size: 30px">Today Bookings</h1>
        </div>
    </div>
    <div class="row justify-content-around mt-4">
        <div class="col-2 bg-danger text-white" style="width: 300px">
            <h1 class="p-3" style="font-size: 40px" id="availableDriver">20</h1>
            <h1 class="p-2" style="font-size: 30px">Available Drivers</h1>
        </div>
        <div class="col-2 bg-primary text-white " style="width: 300px">
            <h1 class="p-3" style="font-size: 40px" id="occupiedDriver">50</h1>
            <h1 class="p-2" style="font-size: 30px">Occupied Drivers</h1>
        </div>
        <div class="col-2 bg-success text-white" style="width: 300px">
            <h1 class="p-3" style="font-size: 40px" id="needMaintenance">40</h1>
            <h1 class="p-2" style="font-size: 22px">Cars Need Maintenance</h1>
        </div>
        <div class="col-2 bg-warning text-white" style="width: 300px">
            <h1 class="p-3" style="font-size: 40px" id="inMaintenance">05</h1>
            <h1 class="p-2" style="font-size: 24px">Cars In Maintenance</h1>
        </div>
    </div>
</section>

<section class="container-fluid mt-2" id="carManageForm">
    <h3>Car Manager</h3>
    <div class="row mt-2 p-2">
        <div class="col-xl-5 col-lg-6">
            <div class="bg-white card">
                <div class="bg-danger card-header text-white" style="font-size: 25px">
                    Car Details
                </div>
                <div class="card-body bg-white text-dark">
                    <div class="row p-2 mt-3">
                        <div class="form-group col-6 ">
                            <lable>Car ID:</lable>
                            <input type="text" id="txtCarId" class="form-control">
                            <span class="control-error" id="lblcarid"></span>
                        </div>
                        <div class="form-group col-6 ">
                            <lable>Car Brand:</lable>
                            <input type="text" id="txtBrand" class="form-control">
                        </div>
                    </div>
                    <div class="row p-2 mt-3">
                        <div class="form-group col-5 ">
                            <lable>Car Type:</lable>
                            <select class="form-control" id="cmbCarType">
                                <option selected="selected" disabled="disabled">-Select Type-</option>
                                <span class="control-error" id="lblcartype"></span>
                            </select>
                        </div>
                        <div class="form-group col-7">
                            <lable>No Of Passengers:</lable>
                            <select class="form-control" id="cmbNoOfPassenger">
                                <option selected="selected" disabled="disabled">-Select No Of Passengers-</option>
                                <span class="control-error" id="lblnoofpassengers"></span>
                            </select>
                        </div>
                    </div>
                    <div class="row p-2 mt-3">
                        <div class="form-group col-7">
                            <lable>Transmission Type:</lable>
                            <select class="form-control" id="cmbTransmissionType">
                                <option selected="selected" disabled="disabled">-Select Transmission Type-</option>
                                <span class="control-error" id="lbltransmissiontype"></span>
                            </select>
                        </div>
                        <div class="form-group col-5">
                            <lable>Fuel Type:</lable>
                            <select class="form-control" id="cmbFuelType">
                                <option selected="selected" disabled="disabled">-Select Fuel Type-</option>
                                <span class="control-error" id="lblfueltype"></span>
                            </select>
                        </div>
                    </div>
                    <div class="row p-2 mt-3">
                        <div class="form-group col-6">
                            <lable>Color:</lable>
                            <input type="text" id="txtColor" class="form-control">
                        </div>
                        <div class="form-group col-6">
                            <lable>Registration No:</lable>
                            <input type="text" id="txtRegNo" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-7 col-lg-6">
            <div class="bg-white card">
                <div class="bg-danger card-header text-white" style="font-size: 25px">
                    Rates & Availability
                </div>
                <div class="card-body bg-white text-dark">
                    <div class="row p-2 mt-3">
                        <div class="form-group col-6 ">
                            <lable>Daily Rate(Rs):</lable>
                            <input type="number" min="0" id="txtDailyRate" class="form-control">
                        </div>
                        <div class="form-group col-6 ">
                            <div class="col-12">
                                <lable>Free Mileage For A Day(KM):</lable>
                            </div>
                            <div class="col-12">
                                <span class="text-danger" style="font-size: 30px" id="lbnFreeForDay">
                                    100
                                </span>
                                KM
                            </div>
                        </div>
                    </div>
                    <div class="row p-2 mt-3">
                        <div class="form-group col-6 ">
                            <lable>Monthly Rate(Rs):</lable>
                            <input type="number" min="0" id="txtMonthlyRate" class="form-control">
                        </div>
                        <div class="form-group col-6 ">
                            <div class="col-12">
                                <lable>Free Mileage For A Month(KM):</lable>
                            </div>
                            <div class="col-12">
                                <span class="text-danger" style="font-size: 30px" id="lblFreeForMonth">
                                    2400
                                </span>
                                KM
                            </div>
                        </div>
                    </div>
                    <div class="row p-2 mt-3">
                        <div class="form-group col-6">
                            <lable>Cost For Extra Kilometer(Rs):</lable>
                            <input type="number" min="0" id="txtCostForExtraKM" class="form-control">
                        </div>
                        <div class="form-group col-6">
                            <lable>Loss Damage Waiver(Rs):</lable>
                            <select class="form-control" id="cmbLossDamage">
                                <option selected="selected" disabled="disabled">-Select Loss Damage Waiver-</option>
                                <span class="control-error" id="lbllossdamage"></span>
                            </select>
                        </div>
                    </div>
                    <div class="row p-2 mt-3">
                        <div class="form-group col-6">
                            <lable>Car Status:</lable>
                            <select class="form-control" id="cmbCarStatus">
                                <option selected="selected" disabled="disabled">-Select Car Status-</option>
                                <span class="control-error" id="lblcarstatus"></span>
                            </select>
                        </div>
                        <div class="form-group col-6 mt-4 px-4">
                            <button type="button" class="btn btn-outline-success fw-bold" id="btnCarAdd">Add Car
                            </button>
                            <button type="button" class="btn btn-outline-warning fw-bold" id="btnCarUpdate">Update Car
                            </button>
                            <button type="button" class="btn btn-outline-danger fw-bold" id="btnCarDelete">Delete Car
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h6 class="text-danger">* Free Km for Day: 100Km and Free Km for Month: 2400km for any Car</h6>
    <table class="table table-hover border mt-3 p-3">
        <thead class="bg-danger text-white">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Brand</th>
            <th scope="col">Car Type</th>
            <th scope="col">Passengers</th>
            <th scope="col">Trans Type</th>
            <th scope="col">Fuel Type</th>
            <th scope="col">Color</th>
            <th scope="col">Reg No</th>
            <th scope="col">Daily Rate</th>
            <!--            <th scope="col">Free KM Day</th>-->
            <th scope="col">Monthly Rate</th>
            <!--            <th scope="col">Free KM Month</th>-->
            <th scope="col">Cost Extra KM</th>
            <th scope="col">Loss Damage</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody class="bg-secondary text-white" id="tblCar">
        </tbody>
    </table>
</section>

<section class="container-fluid mt-2" id="driverManageForm">
    <h3>Driver Manager</h3>
    <div class="row mt-3 p-3">
        <div class="col-xl-4 col-lg-6">
            <div class="bg-white card">
                <div class="bg-dark card-header text-white" style="font-size: 25px">
                    Drivers' Information
                </div>
                <div class="card-body bg-secondary text-dark">
                    <div class="row p-2 mt-3">
                        <div class="form-group col-6">
                            <lable>Driver ID:</lable>
                            <input type="text" id="txtDriverId" class="form-control">
                            <span class="control-error" id="lblDriverId"></span>
                        </div>
                        <div class="form-group col-6">
                            <lable>Driver Name:</lable>
                            <input type="text" id="txtDriverName" class="form-control">
                            <span class="control-error" id="lblDriverName"></span>
                        </div>
                    </div>
                    <div class="row p-2 mt-3">
                        <div class="form-group col-12">
                            <lable>Driver Address:</lable>
                            <input type="text" id="txtDriverAddress" class="form-control">
                            <span class="control-error" id="lblDriverAddress"></span>
                        </div>
                    </div>
                    <div class="row p-2 mt-3">
                        <div class="form-group col-6">
                            <lable>Driver Contact:</lable>
                            <input type="text" id="txtDriverContact" class="form-control">
                            <span class="control-error" id="lbldrivercontact"></span>
                        </div>
                        <div class="form-group col-6">
                            <lable>Driver Status:</lable>
                            <select class="form-control" id="cmbDriverStatus">
                                <option selected="selected" disabled="disabled">-Select Driver Status-</option>
                                <span class="control-error" id="lbldriverstatus"></span>
                            </select>
                        </div>
                    </div>
                    <div class="row p-2 mt-3">
                        <div class="form-group col-6">
                            <lable>Driver Email:</lable>
                            <input type="text" id="txtDriverEmail" class="form-control">
                            <span class="control-error" id="lbldriveremail"></span>
                        </div>
                        <div class="form-group col-6">
                            <lable>Driver Password:</lable>
                            <input type="password" id="txtDriverPassword" class="form-control">
                        </div>
                    </div>
                    <div class="row p-2 mt-3">
                        <div class="form-group col-12" style="margin-left: 150px">
                            <button type="button" class="btn btn-success fw-bold" id="btnDriverAdd">ADD</button>
                            <button type="button" class="btn btn-warning fw-bold" id="btnDriverUpdate">UPDATE
                            </button>
                            <button type="button" class="btn btn-danger fw-bold" id="btnDriverDelete">DELETE
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-xl-8 col-lg-6">
            <table class="table table-hover border mt-1 p-2">
                <thead class="bg-danger text-white">
                <tr>
                    <th scope="col">Driver ID</th>
                    <th scope="col">Driver Name</th>
                    <th scope="col">Driver Address</th>
                    <th scope="col">Driver Contact</th>
                    <th scope="col">Driver Status</th>
                    <th scope="col">Driver Email</th>

                </tr>
                </thead>
                <tbody class="bg-secondary text-white" id="tblDriver">
                </tbody>
            </table>
        </div>

    </div>
</section>

<section class="container-fluid mt-2" id="rentRequestsFrom">
    <h3>Pending Rental Requests</h3>
    <div class="row mt-2 p-2">
        <div class="row col-xl-8 col-lg-6 ">
            <table class="table table-hover border mt-2 p-3">
                <thead class="bg-warning text-dark">
                <tr>
                    <th scope="col">Rent ID</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Car ID</th>
                    <th scope="col">Driver</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Cost</th>
                    <th scope="col">Daily Rate</th>
                    <th scope="col">Monthly Rate</th>
                </tr>
                </thead>
                <tbody class="bg-secondary text-white" id="tblPendingRequests">
                </tbody>
            </table>
        </div>
        <div class="row col-xl-4 col-lg-6 mx-1">
            <div class="bg-white card">
                <div class="bg-dark card-header text-white" style="font-size: 25px">
                    Rent Details
                </div>
                <div class="card-body bg-secondary text-white">
                    <div class="row p-2 mt-1">
                        <div class="form-group col-6 ">
                            <lable>Rent ID:</lable>
                            <input type="text" id="txtRentId0" class="form-control" disabled>
                        </div>
                        <div class="form-group col-6 ">
                            <lable>Car ID:</lable>
                            <input type="text" id="txtCarId0" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="row p-2 mt-2">
                        <div class="form-group col-6 ">
                            <lable>Customer Email:</lable>
                            <input type="text" id="txtCustomerEmail0" class="form-control" disabled>
                        </div>
                        <div class="form-group col-6">
                            <lable>Driver ID:</lable>
                            <input type="text" id="txtDriverId0" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="row p-2 mt-1">
                        <div class="form-group col-6">
                            <lable>Start Date:</lable>
                            <input type="text" id="txtStartDate0" class="form-control" disabled>
                        </div>
                        <div class="form-group col-6">
                            <lable>End Date:</lable>
                            <input type="text" id="txtEndDate0" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="row p-2 mt-1">
                        <div class="form-group col-6">
                            <lable>Duration:</lable>
                            <input type="text" id="txtDuration0" class="form-control" disabled>
                        </div>
                        <div class="form-group col-6">
                            <lable>Cost:</lable>
                            <input type="text" id="txtCost0" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="row p-2 mt-1">
                        <div class="form-group col-6">
                            <lable>Daily Rate:</lable>
                            <input type="text" id="txtDayRate0" class="form-control" disabled>
                        </div>
                        <div class="form-group col-6">
                            <lable>Monthly Rate:</lable>
                            <input type="text" id="txtMonthRate0" class="form-control" disabled>
                        </div>
                    </div>
                    <hr>
                    <div class="row p-2 mt-1">
                        <div class="form-group col-6">
                            <label> Select Another Driver:</label>
                            <select class="form-control" id="cmbDriverId0">
                                <option selected="selected" disabled="disabled">-Select Driver ID-</option>
                            </select>
                        </div>
                        <div class="form-group col-6">
                            <lable>Deny Reason:</lable>
                            <input type="text" id="txtDenyReason0" class="form-control">
                        </div>
                    </div>
                    <div class="row p-2 mt-1">
                        <div class="form-group col-8" style="margin-left: 160px">
                            <button type="button" class="btn btn-success fw-bold" id="btnAccept">Accept Rent
                            </button>
                            <button type="button" class="btn btn-danger fw-bold" id="btnDeny">Deny Rent
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<script src="../assests/jquery-3.6.0.js"></script>
<script src="../assests/bootsrap/js/bootstrap.min.js"></script>
<script src="../Controller/AdminMainController.js"></script>
<script src="../Controller/AdminController.js"></script>
</body>
</html>