<!--/**-->
<!--* @author ishanka on 6/14/21 at 2:06 AM-->
<!--* @since 0.0.1-->
<!--*/-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assests/bootsrap/css/bootstrap.min.css">
</head>
<body>
<section class="container-fluid">
    <h1 class="mx-3">Customer Registration Form</h1>
    <div class="row mt-3 p-3">
        <div class="col-xl-4 col-lg-6">
            <div class="bg-white card">
                <div class="bg-dark card-header text-white" style="font-size: 25px">
                    Customer Registration
                </div>
                <div class="card-body bg-white text-dark">
                    <div class="row p-2 mt-3">
                        <div class="form-group col-6">
                            <lable>Customer Email:</lable>
                            <input type="text" id="txtEmail" class="form-control">
                            <span class="control-error" id="lblEmail"></span>
                        </div>
                        <div class="form-group col-6">
                            <lable>Customer Address:</lable>
                            <input type="text" id="txtCustomerAddress" class="form-control">
                            <span class="control-error" id="lblcusaddress"></span>
                        </div>
                    </div>
                    <div class="row p-2 mt-3">
                        <div class="form-group col-12">
                            <lable>Customer NIC:</lable>
                            <input type="text" id="txtCustomerNIC" class="form-control">
                            <span class="control-error" id="lblcusnic"></span>
                        </div>
                    </div>
                    <div class="row p-2 mt-3">
                        <div class="form-group col-12">
                            <lable>Customer Driving License:</lable>
                            <input type="text" id="txtDriveLicense" class="form-control">
                            <span class="control-error" id="lbldriverlicense"></span>
                        </div>
                    </div>
                    <div class="row p-2 mt-3">
                        <div class="form-group col-6">
                            <lable>Customer Contact:</lable>
                            <input type="text" id="txtContact" class="form-control">
                            <span class="control-error" id="lblContact"></span>
                        </div>
                        <div class="form-group col-6">
                            <lable>Customer Password:</lable>
                            <input type="text" id="txtPassword" class="form-control">
                            <span class="control-error" id="lblPass"></span>
                        </div>
                    </div>
                    <div class="row p-2 mt-3">
                        <div class="form-group col-12">
                            <label class="form-label" for="nic">Select a file</label>
                            <input class="form-control" id="nic" name="nic" type="file">
                        </div>
                    </div>
                    <div class="row p-2 mt-3">
                        <div class="form-group col-12">
                            <button type="button" class="btn btn-outline-success fw-bold" id="btnCustomerAdd">Add</button>
                            <button type="button" class="btn btn-outline-warning fw-bold" id="btnCustomerUpdate">UPDATE</button>
                            <button type="button" class="btn btn-outline-danger fw-bold" id="btnCustomerDelete">DELETE</button>
                            <button type="button" class="btn btn-danger fw-bold" id="btnCustomerCancel">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</section>

<script src="../assests/jquery-3.6.0.js"></script>
<script src="../assests/bootsrap/js/bootstrap.min.js"></script>
<script src="../Controller/CustomerController.js"></script>
</body>
</html>