<!--/**-->
<!--* @author ishanka on 6/14/21 at 11:33 PM-->
<!--* @since 0.0.1-->
<!--*/-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Easy Car Rent</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assests/bootsrap/css/bootstrap.min.css">
    <style>
        #btnHome {
            font-weight: 800;
            font-size: 37px;
            margin-left: 20px;
            margin-right: 250px;
        }

        #newRentFormLink, #rentalRequestLink, #viewCarLink, #loginLink, #logoutLink, #registerLink, #profileLink {
            margin-left: 30px;
            font-size: 20px;
            font-weight: 600;
        }

        #user {
            margin-right: 5px;
            margin-left: 52vw;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-danger">
    <div class="container-fluid ">
        <a class="navbar-brand text-white" href="#newRentForm" id="btnHome">Easy Car Rental</a>
        <div class="collapse navbar-collapse mx-5" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" href="#newRentForm"
                       id="newRentFormLink">New Rent</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" href="#viewCar" id="viewCarLink">View Cars</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#rentalRequest" id="rentalRequestLink">Your Rental Requests</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" href="#customerRegistrationForm" id="registerLink" style="cursor: pointer">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" href="#" id="profileLink" style="cursor: pointer">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" data-bs-toggle="modal"
                       data-bs-target="#LoginModal" id="loginLink" style="cursor: pointer">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" id="logoutLink"
                       style="cursor: pointer">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="modal fade" id="LoginModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="LoginModalLabel">Login</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-2">
                        <label for="txtLoginEmail" class="col-form-label">Email:</label>
                        <input type="email" class="form-control" id="txtLoginEmail">
                    </div>
                    <div class="mb-2">
                        <label for="txtLoginPassword" class="col-form-label">Password:</label>
                        <input type="password" class="form-control" id="txtLoginPassword">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnLogin">Login</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt-3">
    <div class="d-flex">
        <h5 class="mx-3">
            Welcome To Easy Car Rental - Panadura
        </h5>
        <h5 id="user">
            User :
            <span id="userMail">Guest</span>
        </h5>
    </div>
</div>
<div class="container-fluid mt-1" id="newRentForm">
        <div class="row p-3">
        <div class="col-xl-12 col-lg-12">
            <div class="bg-white card">
                <div class="card-body bg-dark text-white">
                    <div class="row p-2 mt-3">
                        <div class="form-group col-3 ">
                            <lable>Car Type:</lable>
                            <select class="form-control" id="cmbCarType">
                                <option selected="selected" disabled="disabled">-Select Type-</option>
                                <span class="control-error" id="lblcartype"></span>
                            </select>
                        </div>
                        <div class="form-group col-3">
                            <lable>Car Brad:</lable>
                            <select class="form-control" id="cmbBrand">
                                <option selected="selected" disabled="disabled">-Select Car Brand-</option>
                                <span class="control-error" id="lblbrand"></span>
                            </select>
                        </div>
                        <div class="form-group col-3 ">
                            <lable>Pickup Date:</lable>
                            <input type="date" id="txtPickupDate" class="form-control">
                        </div>
                        <div class="form-group col-3">
                            <lable>Return Date:</lable>
                            <input type="date" id="txtReturnDate" class="form-control">
                        </div>
                    </div>
                    <div class="row p-2 mt-3">
                        <div class="form-group col-2">
                            <lable>No of Months:</lable>
                            <input type="text" id="txtMonths" class="form-control" disabled>
                        </div>
                        <div class="form-group col-2">
                            <lable>No of Days:</lable>
                            <input type="text" id="txtDays" class="form-control" disabled>
                        </div>
                        <div class="form-group col-2">
                            <lable>Dropoff Location:</lable>
                            <select class="form-control" id="cmbDropOff">
                                <option selected="selected" disabled="disabled">-Select Dropoff Location-</option>
                                <span class="control-error" id="lbldropoof"></span>
                            </select>
                        </div>
                        <div class="form-group col-2">
                            <lable>Need A Driver:</lable>
                            <select class="form-control" id="cmbDriverNeed">
                                <option selected="selected" disabled="disabled">-Select Driver-</option>
                                <span class="control-error" id="lbldriverneed"></span>
                            </select>
                        </div>

                        <div class="form-group col-2 ">
                            <lable>Select Car ID:</lable>
                            <select class="form-control" id="cmbCarId">
                                <option selected="selected" disabled="disabled">-Select Car ID-</option>
                                <span class="control-error" id="lblcarid"></span>
                            </select>
                        </div>
                        <div class="form-group col-2">
                            <lable>Car ID:</lable>
                            <input type="text" id="txtCarId" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="row p-2 mt-3">
                        <div class="form-group col-2">
                            <lable>No of Passengers:</lable>
                            <input type="number" id="txtNoOfPassenger" class="form-control" disabled>
                        </div>
                        <div class="form-group col-2">
                            <lable>Transmission Type:</lable>
                            <input type="text" id="txtTransType" class="form-control" disabled>
                        </div>

                        <div class="form-group col-2">
                            <lable>Rate (Monthly) (Rs):</lable>
                            <input type="text" id="txtMonthRate" class="form-control" disabled>
                        </div>
                        <div class="form-group col-2">
                            <lable>Rate (Daily) (Rs):</lable>
                            <input type="text" id="txtDayRate" class="form-control" disabled>
                        </div>
                        <div class="form-group col-2">
                            <lable>Fuel Type:</lable>
                            <input type="text" id="txtFuelType" class="form-control" disabled>
                        </div>
                        <div class="form-group col-2">
                            <lable>Color:</lable>
                            <input type="text" id="txtColor" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="row p-2 mt-3">
                        <div class="form-group col-3">
                            <lable>Lost Damage Waiver (Rs):</lable>
                            <input type="text" id="txtLoosDamage" class="form-control" disabled>
                        </div>
                        <div class="form-group col-3">
                            <label class="form-label m-0" for="receipt">Select Your Loss Damage Waiver Receipt</label>
                            <input class="form-control" id="receipt" name="receipt" type="file">
                        </div>
                        <div class="form-group col-2">
                            <lable>Cost For Extra KM (Rs):</lable>
                            <input type="text" id="txtCostExtraKM" class="form-control" disabled>
                        </div>
                        <div class="form-group col-2">
                            <lable>Cost For Rent (Rs):</lable>
                            <input type="text" id="txtCost" class="form-control" disabled>
                        </div>
                        <div class="form-group col-2 mt-4 px-4">
                            <button type="button" class="btn btn-success fw-bold px-5 mx-3" id="btnRent">Rent</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="viewCar" class="mt-2">
    <h6 class="text-danger">* Free Km for Day: 100Km and Free Km for Month: 2400km for any Car</h6>
    <table class="table table-hover border mt-3 p-3">
        <thead class="bg-danger text-white">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Brand</th>
            <th scope="col">Car Type</th>
            <th scope="col">Passengers</th>
            <th scope="col">Trans Type</th>
            <th scope="col">Fuel Type</th>
            <th scope="col">Color</th>
            <th scope="col">Reg No</th>
            <th scope="col">Daily Rate</th>
            <th scope="col">Monthly Rate</th>
            <th scope="col">Cost Extra KM</th>
            <th scope="col">Loss Damage</th>
            <th scope="col">Status</th>
            <th scope="col">View</th>
        </tr>
        </thead>
        <tbody class="bg-secondary text-white" id="tblCarInRent"></tbody>
    </table>
</div>

<div id="rentalRequest" class="mt-2">
    <table class="table table-hover border mt-3 p-3">
        <thead class="bg-warning text-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Brand</th>
            <th scope="col">Car Type</th>
            <th scope="col">Passengers</th>
            <th scope="col">Trans Type</th>
            <th scope="col">Fuel Type</th>
        </tr>
        </thead>
        <tbody class="bg-secondary text-white" id="tblRentReq"></tbody>
    </table>
</div>

<div class="container-fluid mt-2" id="customerRegistrationForm">
    <h1 class="mx-3" id="regH1">Registration Form</h1>
    <div class="row mt-3 p-3">
        <div class="col-xl-12 col-lg-6">
            <div class="bg-white card">
                <div class="card-body bg-dark text-white">
                    <div class="row p-2 mt-3">
                        <div class="form-group col-4">
                            <lable>Email:</lable>
                            <input type="text" id="txtCustomerEmail" class="form-control">
                            <span class="control-error" id="lblEmail"></span>
                        </div>
                        <div class="form-group col-4">
                            <lable>Address:</lable>
                            <input type="text" id="txtCustomerAddress" class="form-control">
                            <span class="control-error" id="lblcusaddress"></span>
                        </div>
                        <div class="form-group col-4">
                            <lable>NIC Number:</lable>
                            <input type="text" id="txtCustomerNIC" class="form-control">
                            <span class="control-error" id="lblcusnic"></span>
                        </div>
                    </div>
                    <div class="row p-2 mt-3">
                        <div class="form-group col-4">
                            <lable>Driving License Number:</lable>
                            <input type="text" id="txtCustomerDriveLicense" class="form-control">
                            <span class="control-error" id="lbldriverlicense"></span>
                        </div>
                        <div class="form-group col-4">
                            <lable>Contact Number:</lable>
                            <input type="text" id="txtCustomerContact" class="form-control">
                            <span class="control-error" id="lblContact"></span>
                        </div>
                        <div class="form-group col-4">
                            <lable>Your Password:</lable>
                            <input type="password" id="txtCustomerPassword" class="form-control">
                            <span class="control-error" id="lblPass"></span>
                        </div>
                    </div>
                    <div class="row p-2 mt-3">
                        <div class="form-group col-6">
                            <label class="form-label" for="nic" id="nicLabel">Select Your NIC Card Image</label>
                            <input class="form-control" id="nic" name="nic" type="file">
                        </div>
                        <div class="form-group col-6">
                            <label class="form-label" for="license">Select Your Driving License Image</label>
                            <input class="form-control" id="license" name="license" type="file">
                        </div>
                    </div>
                    <div class="row p-2 mt-3">
                        <div class="form-group col-10">
                        </div>
                        <div class="form-group col-2">
                            <button type="button" class="btn btn-success fw-bold " id="btnCustomerRegister">Register
                            </button>
                            <button type="button" class="btn btn-danger fw-bold " id="btnCancel">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../assests/jquery-3.6.0.js"></script>
<script src="../assests/bootsrap/js/bootstrap.min.js"></script>
<script src="../Controller/RentController.js"></script>
</body>
</html>