<!--/**-->
<!--* @author ishanka on 6/14/21 at 10:33 PM-->
<!--* @since 0.0.1-->
<!--*/-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guest</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assests/bootsrap/css/bootstrap.min.css">
</head>
<body>


<script src="../assests/jquery-3.6.0.js"></script>
<script src="../assests/bootsrap/js/bootstrap.min.js"></script>
<script src="../Controller/GuestController.js"></script>
</body>
</html>